* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A2129;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 1%;
    border-bottom: 2px solid rgb(118, 122, 127, 0.5);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.searchBox {
    position: absolute;
    top: -2%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color:  #2f3640;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    outline:none;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.homepage_movies h1 {
    width: 90%;
    margin: auto;
    padding-top: 2%;
}

.top_movies, .votated_movies, .coming_movies {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}

.movies_library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 80px);
    padding: 2%;
}
#poster_notfound {
    object-fit: cover;
}

.movie_card {
    position: relative;
    width: 250px;
    margin: 1%;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.overlay_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    background-color: rgb(0, 0, 0, 0.7);
    display: none;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.overlay_info::-webkit-scrollbar {
  display: none;
}

.movie_card:hover .overlay_info {
    display: block;
}
.movie_card:hover {
    border: 4px solid  #A742EB;
    border-radius: 10px;
}
.movie_card p {
    
    padding-top: 10px;
}

.movie_notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}
.movie_notfound img {
    border-radius: 10px;
}