<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"
        integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFix</title>
</head>

<body>
    <div id="root">
        <header>
            <div class="container">
                <img src="https://is.gd/EE12Fe" alt="logo" width="100px">

                <div class="searchBox">
                    <input class="searchInput" type="text" name="searchMovie" placeholder="Search" v-model="titleSearched" v-on:keyup.13="searchMovie">
                    <button class="searchButton" href="#" @click="searchMovie">
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                </div>
            </div>
        </header>

        <main>
            <div class="homepage_movies"  v-if="titleSearched == '' || movies.lenght == 0 " >
                <h1>Film Popolari</h1>
                <div class="top_movies">
                    <div v-for="movie in popularMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="movie.poster" width="100%" height="100%">
                    </div>
                </div>
                
                <h1>Film più votati</h1>
                <div class="votated_movies">
                    <div v-for="movie in votatedMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="movie.poster" width="100%"
                        height="100%">
                    </div>
                </div>
                
                <h1>Film in arrivo</h1>
                <div class="coming_movies">
                    <div v-for="movie in comingMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="movie.poster" width="100%"
                        height="100%">
                    </div>
                </div>
            </div>

            <div class="movies_library" v-if="movies.lenght !=0">
                <div v-for="movie in movies"  class="movie_card">
                    <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="movie.poster" width="100%" height="100%">
                
                    <div class="overlay_info">
                        <p>
                            <strong>Titolo:</strong> {{movie.title}}
                        </p>
                        <p>
                            <strong>Titolo originale:</strong> {{movie.original_title}}
                        </p>
                        <p>
                            <strong>Voto:</strong>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                        <p>
                            <strong>Overview:</strong>
                            {{movie.overview}}
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>

</html>