<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"
        integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFix</title>
</head>

<body>
    <div id="root">
        <header>
            <div class="container">
                <img id="logo" src="https://is.gd/EE12Fe" alt="logo" width="100px" @click="clickLogo()">

                <div class="searchBox">
                    <input class="searchInput" type="text" name="searchMovie" placeholder="Search" v-model="titleSearched" v-on:keyup.13="searchContent" @keyup="suggestionMovies">
                    <button class="searchButton" href="#" @click="searchContent">
                        <i class="material-icons">
                            search
                        </i>
                    </button>

                    <div class="suggestion_card">
                        <div class="row" v-for="movie in movies.slice(0, 2)" v-if=" suggestionSearch == 1 ">
                            <div class="movie_card_suggestion">
                                <img id="poster_notfound"
                                    src="https://image.freepik.com/premium-vector/404-error-page-found_41910-364.jpg"
                                    alt="poster.notfound" width="100%" height="100%" v-if="movie.poster_path == null">

                                <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path"
                                    alt="movie.poster" width="100%" height="100%">
                            </div>
                            <p>
                                <strong>Titolo:</strong> {{movie.title}}
                            </p>
                        </div>

                        <div class="row" v-for="show in tvShows.slice(0, 2)" v-if=" suggestionSearch == 1 ">
                            <div class="movie_card_suggestion">
                                <img id="poster_notfound" src="https://image.freepik.com/premium-vector/404-error-page-found_41910-364.jpg"
                                    alt="poster.notfound" width="100%" height="100%" v-if="show.poster_path == null">
                        
                                <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + show.poster_path" alt="show.poster"
                                    width="100%" height="100%">
                            </div>
                            <p>
                                <strong>Titolo:</strong> {{show.name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="homepage_movies" v-if="suggestionSearch == 1 ">
                <h1>Film Popolari</h1>
                <div class="top_movies">
                    <div v-for="movie in popularMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path"
                            alt="movie.poster" width="100%" height="100%">
                    </div>
                </div>

                <h1>Film più votati</h1>
                <div class="votated_movies">
                    <div v-for="movie in votatedMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path"
                            alt="movie.poster" width="100%" height="100%">
                    </div>
                </div>

                <h1>Film in arrivo</h1>
                <div class="coming_movies">
                    <div v-for="movie in comingMovies.slice(0, 7)" class="movie_card">
                        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path"
                            alt="movie.poster" width="100%" height="100%">
                    </div>
                </div>
            </div>
            
            <!-- Sezione film -->
            <div class="library_title" v-if="movies.length !=0 && suggestionSearch == 0">
                <h1>Film</h1>
            </div>
            
            <div class="library" v-if="movies.length !=0 && suggestionSearch == 0">
                <div v-for="(movie, index) in movies" class="movie_card">
                    <!-- immagine quando la locandina non è disponibile -->
                    <img id="poster_notfound"
                        src="https://image.freepik.com/premium-vector/404-error-page-found_41910-364.jpg"
                        alt="imgenotfound" width="100%" height="100%" v-if="movie.poster_path == null">
                    <!-- /immagine quando la locandina non è disponibile -->

                    <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path" alt="poster"
                        width="100%" height="100%">

                    <div class="overlay_info">
                        <p>
                            <strong>Titolo:</strong> {{movie.title}}
                        </p>
                        <p>
                            <strong>Titolo originale:</strong> {{movie.original_title}}
                        </p>
                        <p>
                            <strong>Voto:</strong>
                            <i class="fas fa-star" v-for="i in movie.fullStar"></i>
                            <i class="far fa-star" v-for="i in (5 - movie.fullStar)"></i>
                        </p>
                        <p>
                            <strong>Nazionalità:</strong>
                            <i :class="'flag flag-' + movie.original_language "></i>
                        </p>
                        <p>
                            <strong>Overview:</strong>
                            {{movie.overview}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Sezione film -->

            <!-- Sezione serie tv -->
            <div class="library_title" v-if="tvShows.length !=0 && suggestionSearch == 0">
                <h1>Serie TV</h1>
            </div>

            <div class="library" v-if="tvShows.length !=0 && suggestionSearch == 0">
                <div v-for="(show, index) in tvShows" class="movie_card">
                    <!-- immagine quando la locandina non è disponibile -->
                    <img id="poster_notfound" src="https://image.freepik.com/premium-vector/404-error-page-found_41910-364.jpg"
                        alt="imgenotfound" width="100%" height="100%" v-if="show.poster_path == null">
                    <!-- /immagine quando la locandina non è disponibile -->
            
                    <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2' + show.poster_path" alt="poster" width="100%"
                        height="100%">
            
                    <div class="overlay_info">
                        <p>
                            <strong>Titolo:</strong> {{show.name}}
                        </p>
                        <p>
                            <strong>Titolo originale:</strong> {{show.original_title}}
                        </p>
                        <p>
                            <strong>Voto:</strong>
                            <i class="fas fa-star" v-for="i in show.fullStar"></i>
                            <i class="far fa-star" v-for="i in (5 - show.fullStar)"></i>
                        </p>
                        <p>
                            <strong>Nazionalità:</strong>
                            <i :class="'flag flag-' + show.original_language "></i>
                        </p>
                        <p>
                            <strong>Overview:</strong>
                            {{show.overview}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Sezione serie tv -->


            <!-- grafica quando l'input di ricerca non trova nessun risultato -->
            <div class="movie_notfound" v-if="movies.length == 0 && tvShows== 0 && suggestionSearch != 1">
                <img src="https://i.ibb.co/dGyZsVv/error404.png" alt="movie.notfound" width="53%" height="45%">
            </div>
            <!-- /grafica quando l'input di ricerca non trova nessun risultato -->
        </main>
    </div>
    <script src="js/main.js"></script>
</body>

</html>